.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  color: #333;
}

.App-Container {
  background: #fff;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);

}

.header-left,
.header-right {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}